:root {
    --blue: #00B9D5;
    --teal: #009B86;
    --purple: #7800B6;
}

body {
    background-color: #ebebeb;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 80vw;
    padding: 15px;
    background-color: #fafafa;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 0 5px 4px #929292;
    flex-flow: row wrap;
}

/* 
#######                             ######                
#       # #####   ####  #####       #     #  ####  #    # 
#       # #    # #        #         #     # #    #  #  #  
#####   # #    #  ####    #   ##### ######  #    #   ##   
#       # #####       #   #         #     # #    #   ##   
#       # #   #  #    #   #         #     # #    #  #  #  
#       # #    #  ####    #         ######   ####  #    # 
*/

.first-box {
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    flex: 0 0 50%;
}

.first-box .one {
    box-sizing: border-box;
    border: 1px solid #fafafa;
    background-color: var(--blue);
    height: 50px;
    flex: 1 0 33%;
}

.first-box .two {
    box-sizing: border-box;
    border: 1px solid #fafafa;
    background-color: var(--blue);
    height: 50px;
    flex: 1 0 33%;
}

.first-box .three {
    box-sizing: border-box;
    border: 1px solid #fafafa;
    background-color: var(--blue);
    height: 50px;
    flex: 1 0 33%;
}

.first-box .four {
    box-sizing: border-box;
    border: 1px solid #fafafa;
    background-color: var(--blue);
    height: 100px;
    flex: 0 0 66.6%;
}

/* 
 #####                                           ######                
#     # ######  ####   ####  #    # #####        #     #  ####  #    # 
#       #      #    # #    # ##   # #    #       #     # #    #  #  #  
 #####  #####  #      #    # # #  # #    # ##### ######  #    #   ##   
      # #      #      #    # #  # # #    #       #     # #    #   ##   
#     # #      #    # #    # #   ## #    #       #     # #    #  #  #  
 #####  ######  ####   ####  #    # #####        ######   ####  #    #  
 */

.second-box {
    display: flex;
    align-items: flex-end;
    align-content: flex-start;
    flex-flow: row wrap-reverse;
    justify-content: flex-end;
    flex-basis: 33.3%;
    flex-shrink: 0;
}

.second-box .one {
    box-sizing: border-box;
    border: 1px solid #fafafa;
    background-color: var(--teal);
    height: 50px;
    flex: 1 0 50%;
}

.second-box .two {
    box-sizing: border-box;
    border: 1px solid #fafafa;
    background-color: var(--teal);
    height: 50px;
    flex: 1 0 50%;
}

.second-box .three {
    box-sizing: border-box;
    border: 1px solid #fafafa;
    background-color: var(--teal);
    height: 50px;
    flex: 0 1 50%;
}

/* 
#######                              ######                
   #    #    # # #####  #####        #     #  ####  #    # 
   #    #    # # #    # #    #       #     # #    #  #  #  
   #    ###### # #    # #    # ##### ######  #    #   ##   
   #    #    # # #####  #    #       #     # #    #   ##   
   #    #    # # #   #  #    #       #     # #    #  #  #  
   #    #    # # #    # #####        ######   ####  #    # 
*/

.third-box {
    background-color: #b1b0b0;
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 66.6%;
    margin: auto;
}

.third-box .inside-one {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 50%;
}

.third-box .inside-one .one {
    box-sizing: border-box;
    border: 1px solid #fafafa;
    background-color: var(--teal);
    height: 50px;
    flex: 0 0 50%;
}

.third-box .inside-one .two {
    box-sizing: border-box;
    border: 1px solid #fafafa;
    background-color: var(--blue);
    height: 50px;
    flex: 0 0 50%;
}

.third-box .inside-one .three {
    box-sizing: border-box;
    border: 1px solid #fafafa;
    background-color: var(--teal);
    height: 50px;
    flex: 0 0 50%;
}

.third-box .inside-one .four {
    box-sizing: border-box;
    border: 1px solid #fafafa;
    background-color: var(--teal);
    height: 50px;
    flex: 0 0 50%;
}

.third-box .inside-two {
    box-sizing: border-box;
    border: 1px solid #fafafa;
    background-color: var(--teal);
    flex: 0 0 50%;
}

/* 
#######                                         ######                
#        ####  #    # #####  ##### #    #       #     #  ####  #    # 
#       #    # #    # #    #   #   #    #       #     # #    #  #  #  
#####   #    # #    # #    #   #   ###### ##### ######  #    #   ##   
#       #    # #    # #####    #   #    #       #     # #    #   ##   
#       #    # #    # #   #    #   #    #       #     # #    #  #  #  
#        ####   ####  #    #   #   #    #       ######   ####  #    # 
*/

.fourth-box {
    display: flex;
    margin-left: 16.7%;
    flex-flow: row wrap;
    flex: 0 0 83.3%;
}

.fourth-box .one {
    box-sizing: border-box;
    border: 1px solid #fafafa;
    background-color: var(--teal);
    height: 50px;
    flex: 0 0 20%;
}

.fourth-box .two {
    box-sizing: border-box;
    border: 1px solid #fafafa;
    background-color: var(--purple);
    height: 100px;
    flex: 0 0 40%;
}

.fourth-box .inside {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    flex: 0 0 40%;
}

.fourth-box .inside .one {
    box-sizing: border-box;
    border: 1px solid #fafafa;
    background-color: var(--purple);
    flex: 0 0 50%;
}

.fourth-box .inside .two {
    box-sizing: border-box;
    border: 1px solid #fafafa;
    background-color: var(--purple);
    height: 50px;
    flex: 0 0 50%;
}

.fourth-box .inside .three {
    box-sizing: border-box;
    border: 1px solid #fafafa;
    background-color: var(--purple);
    height: 50px;
    flex: 0 0 50%;
}

.fourth-box .four {
    box-sizing: border-box;
    border: 1px solid #fafafa;
    background-color: var(--purple);
    height: 50px;
    flex: 0 0 20%;
    margin: 0 auto;
}