:root {
    --light: #B5095F;
    --dark: #690537;
}

body {
    background-color: var(--dark);
    color: #fafafa;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 64vw;
    background-color: transparent;
    margin: auto;
    flex-flow: row wrap;
}

/* 
#     #                                                                                                 
#     # #####  #####  ###### #####     #      ###### ###### #####    #####   ####  #    # ######  ####  
#     # #    # #    # #      #    #    #      #      #        #      #    # #    #  #  #  #      #      
#     # #    # #    # #####  #    #    #      #####  #####    #      #####  #    #   ##   #####   ####  
#     # #####  #####  #      #####     #      #      #        #      #    # #    #   ##   #           # 
#     # #      #      #      #   #     #      #      #        #      #    # #    #  #  #  #      #    # 
 #####  #      #      ###### #    #    ###### ###### #        #      #####   ####  #    # ######  ####   
 */                                                                                                       

.bigger-one {
    display: flex;
    height: 450px;
    flex-flow: row wrap;
    align-content: flex-start;
    flex: 0 0 66.6%;
}

.bigger-one .first {
    display: flex;
    height: 300px;
    flex: 0 0 100%;
}

.bigger-one .first .smaller-one {
    display: flex;
    height: 300px;
    flex: 0 0 50%;
    flex-flow: column wrap;
}


.bigger-one .first .smaller-one .smallest-one {
    box-sizing: border-box;
    border: 6px solid var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    height: 150px;
}

.bigger-one .first .smaller-one .smallest-two {
    box-sizing: border-box;
    border: 6px solid var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    height: 150px;
}

.bigger-one .first .smaller-two {
    box-sizing: border-box;
    border: 6px solid var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    flex: 0 0 50%;
}

/* 
######                                                                                                       
#     #  ####  ##### #####  ####  #    #    #      ###### ###### #####    #####   ####  #    # ######  ####  
#     # #    #   #     #   #    # ##  ##    #      #      #        #      #    # #    #  #  #  #      #      
######  #    #   #     #   #    # # ## #    #      #####  #####    #      #####  #    #   ##   #####   ####  
#     # #    #   #     #   #    # #    #    #      #      #        #      #    # #    #   ##   #           # 
#     # #    #   #     #   #    # #    #    #      #      #        #      #    # #    #  #  #  #      #    # 
######   ####    #     #    ####  #    #    ###### ###### #        #      #####   ####  #    # ######  ####  
*/

.bigger-one .second {
    height: 150px;
    display: flex;
    flex: 0 0 100%;
    flex-flow: row wrap;
    align-items: stretch;
}

.bigger-one .second .one {
    box-sizing: border-box;
    border: 6px solid var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    height: 150px;
    flex: 1 0 20%;
}

.bigger-one .second .two {
    box-sizing: border-box;
    border: 6px solid var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    height: 150px;
    flex: 2 0 40%;
}

.bigger-one .second .three {
    box-sizing: border-box;
    border: 6px solid var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    height: 150px;
    flex: 1 0 20%;
}

/* 
######                                                              
#     # #  ####  #    # #####    #####   ####  #    # ######  ####  
#     # # #    # #    #   #      #    # #    #  #  #  #      #      
######  # #      ######   #      #####  #    #   ##   #####   ####  
#   #   # #  ### #    #   #      #    # #    #   ##   #           # 
#    #  # #    # #    #   #      #    # #    #  #  #  #      #    # 
#     # #  ####  #    #   #      #####   ####  #    # ######  ####  
*/

.bigger-two {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 33.3%;
}

.bigger-two .one {
    box-sizing: border-box;
    border: 6px solid var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    height: 150px;
    flex: 0 0 50%;
}

.bigger-two .two {
    box-sizing: border-box;
    border: 6px solid var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    height: 150px;
    flex: 0 0 50%;
}

.bigger-two .small {
    display: flex;
    flex-flow: column wrap;
    height: 300px;
    flex: 0 0 50%;
}

.bigger-two .small .smaller-one {
    box-sizing: border-box;
    border: 6px solid var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    height: 150px;
}

.bigger-two .small .smaller-two {
    box-sizing: border-box;
    border: 6px solid var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    height: 150px;
}

.bigger-two .three {
    box-sizing: border-box;
    border: 6px solid var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    height: 300px;
    flex: 0 0 50%;
}