body {
    background-color: rgb(109, 108, 108);
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 90vw;
    padding: 8px;
    background-color: #333;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 0 5px 4px #262626;
    flex-flow: row wrap;
    justify-content: space-around;
}

.one {
    background-color: #CBABFB;
    background-image: linear-gradient(45deg, #CBABFB 0%, #FB7EF6 60%);
    height: 300px;
    flex-basis: 50%;
}

.two {
    background-color: #CBABFB;
    background-image: linear-gradient(45deg, #FB7EF6 0%, #CBABFB 60%);
    height: 150px;
    order: 1;
    flex-basis: 100%;
}

.thirtyfour {
    display: flex;
    flex-flow: column wrap;
    background-color: magenta;
    height: 300px;
    flex-basis: 50%;
}
.three {
    background-color: #70C1FB;
    background-image: linear-gradient(45deg, #70C1FB 0%, #79EBE0 60%);
}

.four {
    background-color: #79EBE0;
    background-image: linear-gradient(45deg, #79EBE0 0%, #70C1FB 60%);
}

.three, .four {
    height: 150px;
    flex-basis: 50%;
}

.five, .six, .seven, .eight, .nine {
    background-color: #FB7EB3;
    background-image: linear-gradient(45deg, #FEEEAB 0%, #FB7EB3 60%);
    height: 150px;
    order: 2;
    flex-basis: 20%;
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine {
    box-sizing: border-box;
    border: 8px solid #333;
}